.fixed-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Slider Container Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

/* Hide the default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    /* Hintergrund transparent */
    transition: .4s;
    border-radius: 24px;
    border: 2px solid #000033;
    /* Optional: Rahmen für mehr Sichtbarkeit */
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: transparent;
    /* Kein Hintergrund */
    transition: .4s;
    border-radius: 50%;
    box-shadow: none;
    /* Optional: Schatten entfernen */
}

input:checked+.slider {
    background-color: transparent;
    /* Hintergrund transparent */
    border-color: #99CCFF;
    /* Rahmenfarbe anpassen */
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Icons Styling */
.sun-icon,
.moon-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    /* Größere Icons für bessere Sichtbarkeit */
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
    /* Klicks auf die Icons ignorieren */
}

.sun-icon {
    left: 3px;
    top: 14px;
    /* Zentriere das Icon besser */
    color: #f39c12;
    opacity: 1;
}

.moon-icon {
    right: 10px;
    top: 14px;
    /* Zentriere das Icon besser */
    color: #34495e;
    opacity: 0;
}

/* Bewegung und Sichtbarkeit der Icons im aktiven Zustand */
input:checked+.slider .sun-icon {
    transform: translateY(-50%) translateX(-10px);
    /* Leicht nach links schieben */
    opacity: 0;
}

input:checked+.slider .moon-icon {
    transform: translateY(-50%) translateX(10px);
    /* Leicht nach rechts schieben */
    opacity: 1;
}