:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-background: #99CCFF;
    --header-text-color: #000000;
    --element-background: #f9f9f9;
    --element-border: #dddddd;
    --button-color: #ffffff;
    --button-background: #000033;
}

/* General body styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition for theme changes */
}

/* Dark Mode Variables */
body.dark {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --header-background: #000033;
    --header-text-color: #ffffff;
    --element-background: #1e1e1e;
    --element-border: #333333;
    --button-color: #000000;
    --button-background: #99CCFF;
}

/* Header styles */
header {
    background-color: var(--header-background);
    color: var(--header-text-color);
    text-align: center;
    padding: 20px;
}

/* Header links styling */
header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header ul li {
    display: inline;
}

header ul li a {
    color: var(--header-text-color);
    text-decoration: none;
}

/* Main content styling */
main {
    padding: 20px;
}

/* H2 title styling */
h2 {
    text-align: center;
}

/* Button styling */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
button:hover {
    background-color: #0056b3;
}