/* Tooltip styles for buttons */
button[data-tooltip] {
    position: relative;
    cursor: pointer;
}

button[data-tooltip]::after {
    content: attr(data-tooltip);
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

button[data-tooltip]:hover::after {
    visibility: visible;
    opacity: 1;
}

/* Selection container layout */
.selection-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.selection-container .separator {
    font-size: 16px;
}

.selection-container .input {
    border: none;
    cursor: pointer;
}

/* Camera container styling */
.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    padding: 10px;
    max-height: 80vh;
    max-width: fit-content;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

video {
    max-width: 100%;
    max-height: 70vh;
    border: 1px solid var(--element-border);
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

#capture-canvas {
    display: none;
}

/* Panorama container responsive styles */
.panorama-container {
    height: 70vh;
    width: 100%;
}

@media (max-width: 1024px) {
    .panorama-container {
        height: 60vh;
    }
}

@media (max-width: 768px) {
    .panorama-container {
        height: 50vh;
    }

    header ul {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .panorama-container {
        height: 40vh;
    }

    header {
        font-size: 0.875rem;
    }

    header ul {
        gap: 1.5rem;
    }

    body {
        font-size: 0.875rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}