video {
    max-width: 100%;
    border: 1px solid var(--element-border);
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}

button[data-tooltip] {
    position: relative;
    cursor: pointer;
}

button[data-tooltip]::after {
    content: attr(data-tooltip);
    /* Tooltip-Text aus Attribut */
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    /* Verhindert Zeilenumbruch */
}

button[data-tooltip]:hover::after {
    visibility: visible;
    opacity: 1;
}

.selection-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.selection-container .separator {
    font-size: 16px;
}

.selection-container .input {
    border: none;
    cursor: pointer;
}

.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    padding: 10px;
    max-height: 80vh;
    width: auto;
    /* Optional: Begrenzung der Breite */
    border-radius: 10px;
    /* Optional: Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Optional: Schatteneffekt */
}

#camera-preview {
    max-height: 75vh;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

#capture-canvas {
    display: none;
    /* Canvas nur für interne Zwecke einblenden */
}

.panorama-container {
    height: 70vh;
    width: 100%;
}

@media (max-width: 1024px) {
    .panorama-container {
        height: 60vh;
    }
}

@media (max-width: 768px) {

    .panorama-container {
        height: 50vh;
    }

    header ul {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .panorama-container {
        height: 40vh;
    }

    header {
        font-size: 0.875rem;
    }

    header ul {
        gap: 1.5rem;
    }

    body {
        font-size: 0.875rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}

div.custom-tooltip span {
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    text-align: center;
    max-width: 200px;
    padding: 5px 10px;
    margin-left: -220px;
    cursor: default;
}

div.custom-tooltip:hover span {
    visibility: visible;
}

div.custom-tooltip:hover span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: -20px;
    left: -10px;
    margin: 0 50%;
}