:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-background: #99CCFF;
    --header-text-color: #000000;
    --element-background: #f9f9f9;
    --element-border: #dddddd;
    --button-color: #ffffff;
    --button-background: #000033;

}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode Variablen */
body.dark {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --header-background: #000033;
    --header-text-color: #ffffff;
    --element-background: #1e1e1e;
    --element-border: #333333;
    --button-color: #000000;
    --button-background: #99CCFF;
}

header {
    background-color: var(--header-background);
    color: var(--header-text-color);
    text-align: center;
    padding: 20px;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header ul li {
    display: inline;
}

header ul li a {
    color: var(--header-text-color);
    text-decoration: none;
}

video {
    width: max-content;
    border: 1px solid var(--element-border);
    border-radius: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button[data-tooltip] {
    position: relative;
    cursor: pointer;
}

button[data-tooltip]::after {
    content: attr(data-tooltip);
    /* Tooltip-Text aus Attribut */
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    /* Verhindert Zeilenumbruch */
}

button[data-tooltip]:hover::after {
    visibility: visible;
    opacity: 1;
}

.selection-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.selection-container .separator {
    font-size: 16px;
}

.selection-container .input {
    border: none;
    cursor: pointer;
}

main {
    padding: 20px;
}

.panorama-container {
    height: 70vh;
    width: 100%;
}

@media (max-width: 1024px) {
    .panorama-container {
        height: 60vh;
    }
}

@media (max-width: 768px) {
    .panorama-container {
        height: 50vh;
    }

    header ul {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .panorama-container {
        height: 40vh;
    }

    header {
        font-size: 0.875rem;
    }

    header ul {
        gap: 1.5rem;
    }

    body {
        font-size: 0.875rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}

/* Panorama List Styles */
#panorama-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    /* Abstand zwischen den Elementen */
    padding: 1rem;
    max-width: max-content;
    margin: 0 auto;
    /* Zentriere die Liste */
}

/* Panorama Item Styles */
.panorama-element {
    background-color: var(--element-background);
    border: 1px solid var(--element-border);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    /* Reduziere den Innenabstand */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Panorama Image Styles */
.panorama-image {
    width: 100%;
    /* Füllt den Container aus */
    height: auto;
    /* Beibehaltung des Seitenverhältnisses */
    border-radius: 10px;
    /* Optionale abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Leichter Schatten */
}

/* Für kleinere Bildschirme */
@media (max-width: 768px) {
    #panorama-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 0.5rem;
        /* Weniger Außenabstand */
    }

    .panorama-element {
        padding: 0.25rem;
        /* Weniger Innenabstand */
    }

    .panorama-element h2 {
        font-size: 1rem;
        /* Kleinere Schriftgröße für Titel */
    }

    .panorama-element p {
        font-size: 0.875rem;
        /* Kleinere Schriftgröße für Text */
    }
}

/* Für sehr kleine Bildschirme */
@media (max-width: 480px) {
    #panorama-list {
        grid-template-columns: 1fr;
        padding: 0.25rem;
        /* Noch weniger Außenabstand */
    }

    .panorama-element {
        padding: 0.2rem;
        /* Noch kompakter für sehr kleine Bildschirme */
    }

    .panorama-element h2 {
        font-size: 0.875rem;
        /* Noch kleinere Schriftgröße für Titel */
    }

    .panorama-element p {
        font-size: 0.75rem;
        /* Noch kleinere Schriftgröße für Text */
    }
}

/* Hover-Effekt für die Panorama-Elemente */
.panorama-element:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}

@media (min-width: 1440px) {
    #panorama-list {
        gap: 3rem;
        /* Erhöht den Abstand zwischen den Karten auf großen Bildschirmen */
    }
}

h2 {
    text-align: center;
}