body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #000033;
    color: white;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header ul li {
    display: inline;
}

header ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.upload-container {
    text-align: center;
    margin-bottom: 20px;
}

.upload-input {
    align-content: center;
    margin-top: 10px;
    padding: 10px;
}

.panorama-container {
    aspect-ratio: 16 / 9;
}

.aspect-ratio-16-9 {
    display: flow-root;
    position: relative;
}

@media (max-width: 600px) {
    .panorama-container {
        aspect-ratio: 2 / 3;
        /* Lower heigt for tablets and smartphones */
    }
}

#panorama-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}