:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-background: #99CCFF;
    --header-text-color: #000000;
    --element-background: #f9f9f9;
    --element-border: #dddddd;
    --button-color: #ffffff;
    --button-background: #000033;

}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode Variablen */
body.dark {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --header-background: #000033;
    --header-text-color: #ffffff;
    --element-background: #1e1e1e;
    --element-border: #333333;
    --button-color: #000000;
    --button-background: #99CCFF;
}

header {
    background-color: var(--header-background);
    color: var(--header-text-color);
    text-align: center;
    padding: 20px;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header ul li {
    display: inline;
}

header ul li a {
    color: var(--header-text-color);
    text-decoration: none;
}

h2 {
    text-align: center;
}

video {
    max-width: 100%;
    border: 1px solid var(--element-border);
    border-radius: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button[data-tooltip] {
    position: relative;
    cursor: pointer;
}

button[data-tooltip]::after {
    content: attr(data-tooltip);
    /* Tooltip-Text aus Attribut */
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    /* Verhindert Zeilenumbruch */
}

button[data-tooltip]:hover::after {
    visibility: visible;
    opacity: 1;
}

.selection-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.selection-container .separator {
    font-size: 16px;
}

.selection-container .input {
    border: none;
    cursor: pointer;
}

.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    padding: 10px;
    max-width: 50vh;
    /* Optional: Begrenzung der Breite */
    border-radius: 10px;
    /* Optional: Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Optional: Schatteneffekt */
}

#camera-preview {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

#capture-canvas {
    display: none;
    /* Canvas nur für interne Zwecke einblenden */
}

main {
    padding: 20px;
}

.panorama-container {
    height: 70vh;
    width: 100%;
}

@media (max-width: 1024px) {
    .panorama-container {
        height: 60vh;
    }
}

@media (max-width: 768px) {

    .panorama-container {
        height: 50vh;
    }

    header ul {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .panorama-container {
        height: 40vh;
    }

    header {
        font-size: 0.875rem;
    }

    header ul {
        gap: 1.5rem;
    }

    body {
        font-size: 0.875rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}

/* Panorama List */
#panorama-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

#panorama-list p {
    color: #999999;
}

#panorama-list.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Elterncontainer sollte eine Höhe haben */
}

#panorama-list.empty p {
    text-align: center;
    font-size: 1.2em;
}

/* Panorama Item Styles */
.panorama-element {
    max-height: 80vh;
    /* Bild passt sich der Containerbreite an */
    background-color: var(--element-background, #f9f9f9);
    border: 1px solid var(--element-border, #ddd);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.panorama-element:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.panorama-element.active {
    border: 2px solid #4caf50;
    /* Grüner Rahmen */
    background-color: #f0fff0;
    /* Heller grüner Hintergrund */
}

.panorama-element.active h3 {
    color: #000000;
}

/* Panorama Image Styles */
.panorama-image {
    max-width: 100%;
    max-height: 80%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

/* Panorama Title */
.panorama-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

/* Panorama Dimensions */
.panorama-dimensions {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

/* Panorama Upload Info */
.panorama-upload-info {
    font-size: 0.8rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

button.edit-button {
    background-color: #007bff;
    color: white;
}

button.edit-button:hover {
    background-color: #0056b3;
}

button.delete-button {
    background-color: #dc3545;
    color: white;
}

button.delete-button:hover {
    background-color: #a71d2a;
}

button.activate-button {
    background-color: #28a745;
    color: white;
}

button.activate-button:hover {
    background-color: #1e7e34;
}

.activate-button:disabled {
    background-color: #ccc;
    /* Grauer Hintergrund */
    color: #666;
    /* Grauer Text */
    cursor: not-allowed;
}

@media (max-width: 1024px) {}

/* Für kleinere Bildschirme */
@media (max-width: 768px) {
    #panorama-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 0.5rem;
        /* Weniger Außenabstand */
    }

    .panorama-element {
        padding: 0.25rem;
        /* Weniger Innenabstand */
    }

    .panorama-element h3 {
        font-size: 1rem;
        /* Kleinere Schriftgröße für Titel */
    }

    .panorama-element p {
        font-size: 0.875rem;
        /* Kleinere Schriftgröße für Text */
    }
}

/* Für sehr kleine Bildschirme */
@media (max-width: 480px) {
    #panorama-list {
        grid-template-columns: 1fr;
        padding: 0.25rem;
        /* Noch weniger Außenabstand */
    }

    .panorama-element {
        padding: 0.2rem;
        /* Noch kompakter für sehr kleine Bildschirme */
    }

    .panorama-element h3 {
        font-size: 0.875rem;
        /* Noch kleinere Schriftgröße für Titel */
    }

    .panorama-element p {
        font-size: 0.75rem;
        /* Noch kleinere Schriftgröße für Text */
    }
}

/* Hover-Effekt für die Panorama-Elemente */
.panorama-element:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}

@media (min-width: 1440px) {
    #panorama-list {
        gap: 3rem;
        /* Erhöht den Abstand zwischen den Karten auf großen Bildschirmen */
    }
}